#calendar {
    max-width: 600px;
    height: 500px;
    margin: auto;
    margin-bottom:10%;
}

    .toggle-btn {
    text-align: left;
    margin-bottom: 10px;
    background-color: #007bff; 
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.toggle-btn i {
    margin-right: 8px;
}

.toggle-btn:hover {
    background-color: #0056b3; 
}

.form-container_calendar {

    margin-top: 30px;
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 270px;
    flex-grow: 1;
    margin-right: 20px;
    overflow-x: auto;
}
.form-container_calendar h1, p {
    font-family: 'Poppins', sans-serif !important;
    margin-top: 0;
    font-size: 24px;
    color: #333;
    text-align: center; 
}